<!DOCTYPE html>
<div id="showcase">
  <header>
    <nav class='cf'>
      <ul class='cf'>
        <li>
          <a href="#">eZembil</a>
        </li>
        <div class="nav_menu">
          <!-- <li>
            <a (click)="openModal()" class="find">Search <i class="fa fa-search"></i></a>
          </li> -->
          <li class="prop">
            <a routerLink="/list">Properties</a>
          </li>
        </div>
      </ul>
      <a href="#" id="openup">MENU</a>
    </nav>
  </header>
</div>

<!-- <div class="modal1">
  <div class="modaldiv">
    <span class="x-icon" (click)="closeModal()"><i class="fa fa-times fa-fw" aria-hidden="true"></i></span>
    <h2>Choose a category to search from</h2>
    <div class="select-option">     
      <select class="option-size" [(ngModel)]="defaultOption">
        <option *ngFor="let option of options" [ngValue]="option">{{ option.value }}</option>
      </select>
      <select class="option-size option-size-2" [(ngModel)]="defaultCategory">
        <option *ngFor="let category of categories" [ngValue]="category">{{ category.cat }}</option>
      </select><br>
      <button class="btn">Search</button>
    </div>
  </div>
</div> -->
